<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.chamberpg.mobile</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.talool.taloolclient</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>taloolmydeals</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb943529849004590</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.talool.taloolclient</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>talool</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>43</string>
	<key>FacebookAppID</key>
	<string>943529849004590</string>
	<key>FacebookDisplayName</key>
	<string>Chamber</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Chamber uses your location to send you deals and reminders for saving money.  Sharing your location also makes it easier to find your deals.</string>
	<key>NSLocationUsageDescription</key>
	<string>Chamber uses your location to send you deals and reminders for saving money.  Sharing your location also makes it easier to find your deals.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Chamber uses your location to send you deals and reminders for saving money.  Sharing your location also makes it easier to find your deals.</string>
	<key>Talool</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>Blue</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>159</integer>
				<key>green</key>
				<integer>113</integer>
				<key>red</key>
				<integer>35</integer>
			</dict>
			<key>Brown</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>117</integer>
				<key>green</key>
				<integer>134</integer>
				<key>red</key>
				<integer>153</integer>
			</dict>
			<key>DarkBrown</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>65</integer>
				<key>green</key>
				<integer>71</integer>
				<key>red</key>
				<integer>83</integer>
			</dict>
			<key>DarkTeal</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>139</integer>
				<key>green</key>
				<integer>141</integer>
				<key>red</key>
				<integer>18</integer>
			</dict>
			<key>Green</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>72</integer>
				<key>green</key>
				<integer>185</integer>
				<key>red</key>
				<integer>80</integer>
			</dict>
			<key>LightBrown</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>197</integer>
				<key>green</key>
				<integer>215</integer>
				<key>red</key>
				<integer>218</integer>
			</dict>
			<key>Orange</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>36</integer>
				<key>green</key>
				<integer>90</integer>
				<key>red</key>
				<integer>241</integer>
			</dict>
			<key>Red</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>36</integer>
				<key>green</key>
				<integer>28</integer>
				<key>red</key>
				<integer>237</integer>
			</dict>
			<key>Teal</key>
			<dict>
				<key>alpha</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>185</integer>
				<key>green</key>
				<integer>188</integer>
				<key>red</key>
				<integer>25</integer>
			</dict>
		</dict>
		<key>URL</key>
		<dict>
			<key>Merchant</key>
			<string>http://chamberpg.com/loyalty/members</string>
			<key>Privacy</key>
			<string>http://chamberpg.com/loyalty/privacy-policy</string>
			<key>Terms</key>
			<string>http://chamberpg.com/loyalty/terms-of-use</string>
		</dict>
		<key>WhiteLabelIdDevelopment</key>
		<string>c6679895-7fc7-499c-a063-2aa9b2bbde4c</string>
		<key>WhiteLabelIdProduction</key>
		<string>d8b03445-63e7-4376-8a8b-8b43c659cada</string>
		<key>WhiteLabelResourcePrefix</key>
		<string>PG_</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
