<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Buy 1, Get 1 50% Off</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Free Cookie With Purchase</string>
	</dict>
	<dict>
		<key>name</key>
		<string>20% off Entire Bill</string>
	</dict>
</array>
</plist>
