<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Icon</key>
		<string>Baseball.png</string>
		<key>Name</key>
		<string>Ward Lowe</string>
		<key>Talools</key>
		<integer>106</integer>
		<key>Points</key>
		<string>300</string>
		<key>Friends</key>
		<array>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Baseball.png</string>
		<key>Name</key>
		<string>Ward Lowe</string>
		<key>Talools</key>
		<integer>106</integer>
		<key>Points</key>
		<string>300</string>
		<key>Friends</key>
		<array>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Baseball.png</string>
		<key>Name</key>
		<string>Ward Lowe</string>
		<key>Talools</key>
		<integer>106</integer>
		<key>Points</key>
		<string>300</string>
		<key>Friends</key>
		<array>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Icon</key>
		<string>Baseball.png</string>
		<key>Name</key>
		<string>Ward Lowe</string>
		<key>Talools</key>
		<integer>106</integer>
		<key>Points</key>
		<string>300</string>
		<key>Friends</key>
		<array>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
			<dict>
				<key>Icon</key>
				<string>Baseball.png</string>
				<key>Name</key>
				<string>Ward Lowe</string>
				<key>Talools</key>
				<integer>106</integer>
				<key>Points</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
