<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Category</key>
		<string>Restaurants &amp; Bars</string>
		<key>Name</key>
		<string>The Kitchen</string>
		<key>Talools</key>
		<integer>106</integer>
		<key>Rating</key>
		<real>3.5</real>
		<key>Visits</key>
		<string>4</string>
		<key>Points</key>
		<string>300</string>
		<key>Icon</key>
		<string>Baseball.png</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Restaurants &amp; Bars</string>
		<key>Name</key>
		<string>Jill&apos;s</string>
		<key>Talools</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Visits</key>
		<string>2</string>
		<key>Points</key>
		<string>50</string>
		<key>Icon</key>
		<string>Blocks.png</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Hosptitality</string>
		<key>Name</key>
		<string>St Julien</string>
		<key>Talools</key>
		<integer>87</integer>
		<key>Rating</key>
		<integer>4</integer>
		<key>Visits</key>
		<string>3</string>
		<key>Points</key>
		<string>100</string>
		<key>Icon</key>
		<string>Checkers.png</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Gaming &amp; Casinos</string>
		<key>Name</key>
		<string>Luxor</string>
		<key>Talools</key>
		<integer>254</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Visits</key>
		<string>5</string>
		<key>Points</key>
		<string>240</string>
		<key>Icon</key>
		<string>Dinner.png</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Gas</string>
		<key>Name</key>
		<string>Conoco</string>
		<key>Talools</key>
		<integer>422</integer>
		<key>Rating</key>
		<real>3</real>
		<key>Visits</key>
		<string>24</string>
		<key>Points</key>
		<string>5000</string>
		<key>Icon</key>
		<string>Football.png</string>
	</dict>
	<dict>
		<key>Category</key>
		<string>Groceries &amp; Markets</string>
		<key>Name</key>
		<string>Safeway</string>
		<key>Talools</key>
		<integer>45</integer>
		<key>Rating</key>
		<real>4</real>
		<key>Visits</key>
		<string>12</string>
		<key>Points</key>
		<string>400</string>
		<key>Icon</key>
		<string>MathGraph.png</string>
	</dict>
</array>
</plist>
